<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">


<div layout:fragment="pageTitle" class="pageTitle">
	<h2>社員情報検索</h2>
</div>

<div layout:fragment="content" class="content">
	<div class="search">
		<div class="upper-area">

			<div class="upper-bottun">
				<a th:href="@{/main}">メニュー</a>
				<a th:href="@{/registration(returnUrl='/search')}">登録</a>
			</div>

			<div class="error">
				<ul>
					<li th:each="error : ${errorList}" th:text="${error}"></li>
				</ul>
			</div>

		</div>


		<div class="middle-area">

			<form th:action="@{/search}" method="post" th:object="${employeeForm}">

				<div class="search-box">
					<div class="column">
						<div class="input-item">
							<label>社員ID</label>
							<input type="number" th:field="*{empId}" />
						</div>
						<div class="input-item">
							<label>社員名</label>
							<input type="text" th:field="*{empName}" />
						</div>
					</div>


					<div class="column">
						<div class="input-item">
							<label>年齢</label>
							<div class="between">
								<input type="number" th:field="*{ageFrom}" />
								<span>〜</span>
								<input type="number" th:field="*{ageTo}" />
							</div>
						</div>
						<div class="input-item">
							<label>開始日</label>
							<div class="between">
								<input type="date" th:field="*{startDateFrom}" />
								<span>〜</span>
								<input type="date" th:field="*{startDateTo}" />
							</div>
						</div>

						<div class="input-item">
							<label>終了日</label>
							<div class="between">
								<input type="date" th:field="*{endDateFrom}" />
								<span>〜</span>
								<input type="date" th:field="*{endDateTo}" />
							</div>
						</div>
					</div>

					<div class="column-bottun">
						<div><input type="submit" value="検索" class="search-button" id="search-button"></div>
						<div>
							<input type="submit" value="クリア" class="search-button" th:formaction="@{/search/reset}"
								formmethod="post">
						</div>
					</div>
				</div>
			</form>


		</div>



		<div class="lower-area">

			<div th:if="${resultList != null}">
				<h3 th:if="${!#lists.isEmpty(resultList)}" th:text="'検索結果：' + ${numberOfResult} + ' 件'">
				</h3>
			</div>

			<div class="error">
				<p th:if="${delteError}" th:each="error : ${delteError}" th:text="${delteError}"></p>
			</div>

			<div class="result-null" th:if="${resultNULL != null}">
				<h3 th:text="${resurtNULL}"></h3>
			</div>

			<form th:action="@{/delete/confirm}" method="post" id="deleteForm">
				<input type="hidden" name="returnUrl" value="/search" />
				<div class="search-result">
					<div class="table-wrapper">
						<th:block th:if="${resultList != null and !resultList.isEmpty()}">
							<table>
								<thead>
									<tr>
										<th><input type="checkbox" id="selectAll" /></th>
										<th>社員ID</th>
										<th>社員名</th>
										<th>年齢</th>
										<th>開始日</th>
										<th>終了日</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="emp : ${resultList}">
										<td>
											<input type="checkbox" name="empIdList" class="row-checkbox"
												th:value="${emp.empId}" />
										</td>
										<td>
											<a th:href="@{/update/input(inputEmpId=${emp.empId}, returnUrl='/search')}"
												th:text="${emp.empId}"></a>
										</td>
										<td th:text="${emp.empName}"></td>
										<td th:text="${emp.age}"></td>
										<td th:text="${emp.startDateFormatted}"></td>
										<td th:text="${emp.endDateFormatted}"></td>
									</tr>
								</tbody>
							</table>
						</th:block>
					</div>

					<div class="lower-button" th:if="${!#lists.isEmpty(resultList)}">

						<button type="submit" formaction="/delete/confirm" formmethod="post">削除</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>

</html>